{include file="public/script" /}

<body>
{include file="public/nav" /}


<div class="down-main">

    {include file="public/left" /}

    <div class="right-product right-full">
        <section id="layout" ng-app="doc.ui-layout">
            <div ui-layout class="layout-mock">
                <ui-layout options="{ flow : 'column' }">

                    <div class="center-back right-back">
                        <div class="container-fluid">
                            <div class="info-center">
                                <div class="page-header">
                                    <div class="pull-left">
                                        <h4>{$title}</h4>
                                    </div>

                                </div>


                        <form action="{:U('Ordermanage/orderlist')}" id="searchform" method="get" >

                                <div class="search-box row">
                                    <div class="col-md-12">

                                        <input type="hidden" name="titleid" value="{$send.titleid}">
                                        <div class="form-group">
                                            <span class="pull-left form-span">域名:</span>
                                            <input type="text" class="form-control" placeholder="域名" name="netname" value="{$send.netname|default=''}">
                                        </div>

                                        <div class="form-group">
                                            <span class="pull-left form-span">公司:</span>
                                            <input type="text" class="form-control" placeholder="公司" name="realname" value="{$send.realname|default=''}" >
                                        </div>
                                        <div class="form-group">
                                            <span class="pull-left form-span">对接人:</span>
                                            <input type="text" class="form-control" placeholder="对接人" name="wzconcactor" value="{$send.wzconcactor|default=''}" >
                                        </div>
                                        <div class="form-group">
                                            <span class="pull-left form-span">销售:</span>
                                            <input type="text" class="form-control" placeholder="销售" name="shoper" value="{$send.shoper|default=''}" >
                                        </div>
                                           <div class="form-group">
                                            <span class="pull-left form-span">产品类型:</span>
                                            <select id="pro_name" name="pro_name" class="form-control">
                                                <option value="">全部</option>

                                                {volist name="olxlist" id="ol"}
                                                <option value="{$ol.id}" {if condition="$ol['id'] eq $send['pro_name'] " }selected="selected"{/if} >{$ol.newlx}</option>
                                                {/volist}
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <span class="pull-left form-span">模板编号:</span>
                                            <input type="text" class="form-control" placeholder="模板编号" name="wangzhannum" value="{$send.wangzhannum|default=''}" >
                                        </div>





                                        <div class="form-group btn-search">

                                            <button class="btn btn-default" type="submit" ><span class="glyphicon glyphicon-search"></span> 搜索</button>
                                        </div>

                                    </div>


                                </div>

                        </form>

                                <div class="search-box row">

                                    <div class="col-md-4">
                                        <div class="btn-group pull-left" role="group" aria-label="...">
                                            <a type="button" class="btn btn-default" href="{:U('Ordermanage/addorder')}"><span class="glyphicon glyphicon-plus"></span> 新增</a>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="glyphicon glyphicon-edit"></span> 审核
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">通过</a></li>
                                                    <li><a href="#">不通过</a></li>
                                                </ul>
                                            </div>
                                            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> 编辑</button>
                                            <button type="button" class="btn btn-default" id="dispatchdel" url="{:U('Ordermanage/dodispatchdel')}"><span class="glyphicon glyphicon-trash"></span> 删除</button>
                                        </div>
                                    </div>

                                </div>


                                <div class="clearfix"></div>





                                <div class="table-margin">
                                    <table class="table table-bordered table-header table-hover" style="text-align: center;">
                                        <thead>
                                        <tr>
                                            <td><input type="checkbox"  onClick="if(this.checked==true) { checkAll('id[]'); } else { clearAll('id[]'); }" /></td>
                                            <td class="" style="width: 5%">id</td>
                                            <td class="" style="width: 5%">收款情况</td>
                                            <td class="" style="width: 15%">域名</td>
                                            <td class="" style="width: 15%">网站名称</td>
                                            <td class="" style="width: 15%">业务名称</td>
                                            <td class="" style="width: 10%">下单时间</td>
                                            <td class="" style="width: 8%">情况</td>
                                            <td class="" style="width: 5%">网站对接人</td>
                                            <td class="" style="width: 5%">技术领单</td>
                                            <td class="" style="width: 5%">编号/级别	</td>
                                            <td class="" style="width: 12%">操作</td>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        {volist name="orderlist" id="ol"}
                                        <tr>
                                            <td> <input type="checkbox"  name="id[]" value="{$ol.id}" class="ids" /></td>
                                            <td>{$ol.id}   </td>
                                            <td>总：{$ol.price}尾：  <span {if condition="$ol['weikuan'] neq 0 " } style="color: red;" {/if} >{$ol.weikuan}</span>  </td>
                                            <td>{$ol.netname} <a href="#" style="color: red;" class="picbtn" pic="__ROOT__{$ol.picspath}" realname="{$ol.realname}" >[图]</a></td>
                                            <td >{$ol.realname}</td>
                                            <td>{$ol.shoper}</td>
                                            <td>{$ol.Addtime}</td>
                                            <td>

                                                <select class="form-control ask" name="ask"  >
                                                    <option value="已下单"   {if condition="$ol['ask'] eq  '已下单' " } selected="selected" {/if}  >已下单</option>
                                                    <option value="处理中"  {if condition="$ol['ask'] eq  '处理中' " } selected="selected" {/if}  >处理中</option>

                                                    <option value="等待上线"  {if condition="$ol['ask'] eq  '等待上线' "} selected="selected" {/if} >等待上线</option>

                                                    <option value="等待审核"  {if condition="$ol['ask'] eq  '等待审核' "} selected="selected" {/if} >等待审核</option>

                                                    <option value="等待验收"  {if condition="$ol['ask'] eq  '等待验收' "} selected="selected"   {/if}>等待验收</option>

                                                    <option value="确认收货" {if condition="$ol['ask'] eq  '确认收货' "} selected="selected" {/if} >已收货</option>

                                                </select>


                                            </td>
                                            <td>{$ol.wzconcactor}</td>
                                            <td>

                                                <input class="form-control input-sm jishunum" type="text" value="{$ol.jishunum}"   name="jishunum"/>

                                            </td>
                                            <td>{$ol.wangzhannum}</td>
                                            <td >
                                                <a href="{:U('Upload/pics' , ['id'=> $ol['id'] ] )}">加图</a>
                                                <a href="{:U('Upload/note' , ['id'=> $ol['id'] ] )}">备注</a>
                                                <a href="{:U('Ordermanage/editorder' , ['id'=> $ol['id'] ] )}">详细</a>
                                                <a href="{:U('Ordermanage/dodel' , ['id'=> $ol['id'] ] )}"   class="orderdel" >删除</a>
                                            </td>

                                        </tr>

                                        {/volist}





                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="12">
                                                <div class="pull-right">
                                                    <nav>
                                                       <!-- <ul class="pagination">
                                                            <li>
                                                                <a href="#" aria-label="Previous">
                                                                    <span aria-hidden="true">&laquo;</span>
                                                                </a>
                                                            </li>
                                                            <li><a href="#">1</a></li>
                                                            <li><a href="#">2</a></li>
                                                            <li><a href="#">3</a></li>
                                                            <li><a href="#">4</a></li>
                                                            <li><a href="#">5</a></li>
                                                            <li>
                                                                <a href="#" aria-label="Next">
                                                                    <span aria-hidden="true">&raquo;</span>
                                                                </a>
                                                            </li>
                                                        </ul>-->

                                                        {$page}


                                                    </nav>
                                                </div>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>








                            </div>
                        </div>
                    </div>



                </ui-layout>
            </div>
        </section>
    </div>
</div>


<script type="text/javascript">
    /*Angular-UI-layout*/
    angular.module('doc.ui-layout', ['ui.layout']);
    $('.pagination').find('a').click(function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        var searchform = $('#searchform').serialize();
        console.log(href);
        console.log(searchform);
        newhref = href + '&' + searchform;
        location.href = newhref;


    });


    $('.ask').change(function (e) {
        var id = $(this).parent('td').siblings('td').eq(0).find('.ids').val();//那一行的
        var ask = $(this).val();
//        console.log(ask);
        $.ajax({
            url:"{:U('Ordermanage/doeditorderajax' )}",
            type:"POST",
            data:{
                id : id,
                ask : ask
            },
            success:function (data) {
                console.log(data);
                if (data.msg == "更新成功" ){
                    layer.msg("更新成功");
                }else {
                    layer.msg("更新失败");
                }
            }
        });



    });


    $('.jishunum').blur(function () {
        var id = $(this).parent('td').siblings('td').eq(0).find('.ids').val();//那一行的
        var jishunum = $(this).val();
//        console.log(ask);
        $.ajax({
            url:"{:U('Ordermanage/doeditorderajax' )}",
            type:"POST",
            data:{
                id : id,
                jishunum : jishunum
            },
            success:function (data) {
                console.log(data);
                if (data.msg == "更新成功" ){
                    layer.msg("更新成功");
                }else {
                    layer.msg("更新失败");
                }
            }
        });
    })


    $('.picbtn').click(function (e) {
        e.preventDefault();
        var picurl = $(this).attr('pic');//图片路径
        var realname = $(this).attr('realname');//图片路径
        var picjson = {
            "title": realname, //相册标题
            "id": 123, //相册id
            "start": 0, //初始显示的图片序号，默认0
            "data": [   //相册包含的图片，数组格式
                {
                    "alt": realname,
                    "pid": 1, //图片id
                    "src": picurl, //原图地址
                    "thumb": picurl //缩略图地址
                }
            ]
        };
        //相册层.
        layer.photos({
            photos: picjson //格式见API文档手册页
            ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机
        });

    });



</script>





</body>
</html>
