{include file="public/script" /}

<body>
{include file="public/nav" /}

<div class="down-main">

    {include file="public/left" /}
    <form class="form-inline" action="{:U('Ordermanage/doaddorder')}" method="post">
    <div class="right-product right-full">
        <section id="layout" ng-app="doc.ui-layout">
            <div ui-layout class="layout-mock">
                <ui-layout options="{ flow : 'column' }">

                    <div class="center-back right-back">
                        <div class="container-fluid">
                            <div class="info-center">
                                <div class="page-header">
                                    <div class="pull-left">
                                        <h4>{$title|default='订单增加'}</h4>
                                    </div>

                                </div>



                                <div class="row">
                                    <div class="col-md-8 col-xs-12 col-sm-8 col-md-offset-2 col-sm-offset-2">

                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover table-condensed ">
                                                <tr class="ym wz"><td colspan="2" style="text-align: center">添加订单</td></tr>
                                                <tr class="ym wz">
                                                    <td >订单类型</td>
                                                    <td>
                                                    <select class="form-control" name="titleid" style="width: 150px;" >
                                                        <option value="3">网站</option>
                                                        <option value="4">域名</option>
                                                        <!--<option value="空间">空间</option>-->
                                                    </select>
                                                    </td>
                                                </tr>


                                                <!-- 网站 -->


                                                <tr class=" wz">
                                                    <td style="width: 20%">产品类型：</td>
                                                    <td>
                                                        <select class="form-control" name="pro_name" style="width: 150px;">
                                                            {volist name="olxlist" id="olx"}
                                                            <option value="{$olx.id}">{$olx.newlx}</option>
                                                            {/volist}
                                                        </select>
                                                        <span><a href="#">新增类型</a></span>
                                                        <span><a href="#">管理类型</a></span>
                                                    </td>
                                                </tr>
                                               <!-- <tr class=" wz">
                                                    <td style="width: 20%">上传文件：</td>
                                                    <td>

                                                        <form   method="post"  enctype="multipart/form-data" id="uplform" action="{:U('Upload/uplorderimg')}" >
                                                            <label for="file">Filename:</label>
                                                            <input type="file" name="file" id="file" />
                                                            <br />
                                                            <input type="submit" name="submit" value="Submit" id="uplsubm" />
                                                        </form>
                                                    </td>
                                                </tr>-->
                                                <tr class=" wz">
                                                    <td>使用域名：</td>
                                                    <td>
                                                        <input name="netname" value="" class="form-control" type="text" ><br><br>
                                                        价格：<input name="jiage" value="" class="form-control" type="text" ><br>

                                                        备案域名：
                                                        <label class="radio-inline">
                                                             <input type="radio" id="bnetname1" value="yes" name="bnetname"> 是
                                                         </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" id="bnetname2" value="no" name="bnetname" > 否
                                                        </label>
                                                        <br>

                                                        客户提供：
                                                        <label class="radio-inline">
                                                            <input type="radio" id="cnetname1" value="yes" name="cnetname">是
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" id="cnetname2" value="no" name="cnetname" > 否
                                                        </label>



                                                    </td>
                                                </tr>
                                                <tr class=" wz"><td>公司名称：</td><td><input name="realname" value="" class="form-control" type="text" ></td></tr>
                                                <tr class=" wz"><td>联系人：</td><td><input name="contactor" value="" class="form-control" type="text" ></td></tr>
                                                <tr class=" wz"><td>公司座机：</td><td><input name="tel" value="" class="form-control" type="text" ></td></tr>
                                                <tr class=" wz"><td>QQ：</td><td><input name="qq" value="" class="form-control" type="text" ></td></tr>
                                                <tr class=" wz"><td>传真：</td><td><input name="zipcode" value="" class="form-control" type="text" ></td></tr>
                                                <tr class=" wz"><td>手机号码：</td><td><input name="phone" value="" class="form-control" type="text" ></td></tr>
                                                <tr class=" wz"><td>电子邮箱：</td><td><input name="email" value="" class="form-control" type="text" ></td></tr>
                                                <tr class=" wz"><td>联系地址：</td><td><input name="addess" value="" class="form-control" type="text" ></td></tr>
                                                <tr class=" wz"><td>模板地址：	</td><td><input name="mobannum" value="" class="form-control" type="text" ><span style="color: red">*</span></td></tr>

                                                <tr class=" wz"><td>网站要求：</td>
                                                    <td>
                                                        <textarea class="form-control" rows="4" style="width: 80%" name="Content"></textarea>
                                                    </td>
                                                </tr>
                                                <tr class=" wz">
                                                    <td>总价：</td>
                                                    <td>
                                                        <input name="price" value="" class="form-control" type="text" >
                                                        已收：<input name="dingjin" value="" class="form-control" type="text"  style="width: 50px;">
                                                        未收：<input name="weikuan" value="" class="form-control" type="text"  style="width: 50px;" >
                                                    </td>
                                                </tr>
                                                <tr class=" wz"><td>网站修改价格：</td><td><input name="cprice" value="" class="form-control" type="text" ></td></tr>
                                                <tr class=" wz"><td>网站价格：</td><td><input name="jishu_price" value="" class="form-control" type="text" ></td></tr>
                                                <tr class=" wz"><td>网站成本：</td><td><input name="wz_cb" value="" class="form-control" type="text" ></td></tr>
                                                <tr class=" wz"><td>提成：</td><td><input name="wz_tc" value="" class="form-control" type="text" ></td></tr>
                                                <tr class=" wz"><td>销售员名字：</td><td><input name="shoper" value="" class="form-control" type="text"  ><span style="color: red">*</span></td></tr>
                                                <tr class=" wz"><td>销售员手机号码：</td><td><input name="shoperphone" value="" class="form-control" type="text"></td></tr>


                                           <!--网站-->

                                                <!--域名-->


                                                    <tr class="ym" ><td>备案域名：</td><td><input name="beianym" value="" class="form-control" type="text" ></td></tr>
                                                    <tr class="ym"><td>产品类型：</td><td>
                                                        <select name="ympro" id="ympro"  class="form-control" >

                                                            <option value=".com">.com</option>
                                                            <option value=".cn">.cn</option>
                                                            <option value=".top">.top</option>
                                                            <option value=".net">.net</option>
                                                            <option value=".com.cn">.com.cn</option>


                                                        </select>
                                                    </td></tr>
                                                    <tr class="ym"><td>价格：</td><td><input name="ymprice" value="" class="form-control" type="text" ></td></tr>
                                                    <tr class="ym"><td>收款：</td><td>
                                                       是 <input type="radio"  name="ymsta" value="yes" >
                                                       否 <input type="radio"  name="ymsta"  value="no" >
                                                    </td></tr>
                                                    <tr class="ym"><td>销售名称：</td><td><input name="shoper" value="" class="form-control" type="text" disabled="disabled"><span style="color: red">*</span></td></tr>


                                                <!--域名-->





                                                <tr class="ym wz"><td>网站对接人：</td><td><input name="wzconcactor" value="" class="form-control" type="text"></td></tr>
                                                <tr class="ym wz">
                                                    <td  >

                                                    </td>
                                                    <td colspan="2">
                                                        <button class="btn btn-primary" type="submit">提交</button>
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>

                                    </div>


                                </div>

















                            </div>
                        </div>
                    </div>



                </ui-layout>
            </div>
        </section>
    </div>
    </form>
</div>


<script type="text/javascript">
    /*Angular-UI-layout*/
    angular.module('doc.ui-layout', ['ui.layout']);
    $('.pagination').find('a').click(function (e) {
        e.preventDefault();
        var href = $(this).attr('href');
        var searchform = $('#searchform').serialize();
        console.log(href);
        console.log(searchform);
        newhref = href + '&' + searchform;
        location.href = newhref;


    });
    $('tr.ym').hide();
    $('tr.wz').show();

    $('[name=titleid]').change(function () {
//        alert();
        var dt = parseInt($(this).val());//定单的类型，3是网站，4是域名
//        alert(dt);
        var shoperinput = $('[name=shoper]');
        switch (dt){
            case 3:{

                //网站
                $('tr.ym').hide();
                $('tr.wz').show();
                shoperinput.eq(0).removeAttr("disabled");
                shoperinput.eq(1).attr("disabled","disabled");
                break;
            }
            case 4:{
                //域名
                $('tr.wz').hide();
                $('tr.ym').show();
                shoperinput.eq(1).removeAttr("disabled");
                shoperinput.eq(0).attr("disabled","disabled");
                break;
            }
            default :{

            }
        }
    });

/*

    $("#uplsubm").click(function (e) {
        e.preventDefault();
        var formData = new FormData($( "#uplform" )[0]);
        // formData.oid = $("#oid").val();
        console.log(formData);
        $.ajax({
            url: "{:U('Upload/uplorderimg')}" ,
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (returndata) {
                console.log(returndata);



            },
            error: function (returndata) {
                console.log(returndata);
            }
        });
    })

*/





</script>





</body>
</html>
