<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>用户中心</title>
    <link href="__STATIC__/bootstrap-3.3.5-dist/css/bootstrap.min.css" title="" rel="stylesheet" />
    <link title="" href="__INDEX__/css/style.css" rel="stylesheet" type="text/css"  />
    <link title="blue" href="__INDEX__/css/dermadefault.css" rel="stylesheet" type="text/css"/>
    <link title="green" href="__INDEX__/css/dermagreen.css" rel="stylesheet" type="text/css" disabled="disabled"/>
    <link title="orange" href="__INDEX__/css/dermaorange.css" rel="stylesheet" type="text/css" disabled="disabled"/>
    <link href="__INDEX__/css/templatecss.css" rel="stylesheet" title="" type="text/css" />
    <link href="__STATIC__/layer/skin/default/layer.css" rel="stylesheet" title="" type="text/css" />
    <script src="__INDEX__/script/jquery.js" type="text/javascript"></script>
    <script src="__INDEX__/script/jquery.cookie.js" type="text/javascript"></script>
    <script src="__STATIC__/bootstrap-3.3.5-dist/js/bootstrap.min.js" type="text/javascript"></script  >
    <script src="__STATIC__/layer/layer.js" type="text/javascript"></script>
    <script src="__INDEX__/script/index.js" type="text/javascript"></script>
    <!--angular ui--->
    <link rel="stylesheet" title="" type="text/css" href="__INDEX__/ui-layout-0.0.0/ui-layout.css"/>
    <script src="__INDEX__/script/angular.min.js"></script>
    <script src="__INDEX__/ui-layout-0.0.0/ui-layout.js"></script>

    <LINK href="favicon.ico" type="image/x-icon" rel=icon>


</head>
